<!DOCTYPE html>
<html>
  <head>
    <title>Covid19ProvinceLookup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id='app' v-cloak>
      <%= yield %>
    </div>
  </body>
  
  <%= render partial: 'layouts/js_init' %>
</html>
