<!DOCTYPE html>
<html>
  <head>
    <title>Covid 19 Province Lookup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <style type="text/css">
      [v-cloak] {
        display: none;
      }
    </style>

    <!-- google search console -->
    <meta name="google-site-verification" content="r6xEbmtXJhErgQK6biINr_wzMzmKFimgeuWT11Rn9B4" />
  </head>

  <body>
    <div id='app' v-cloak>
      <%= yield %>
    </div>
  </body>
  
  <%= render partial: 'layouts/js_init' %>
</html>
