<!DOCTYPE html>
<html>
  <head>
    <title>Covid 19 IT Stats</title>
    <link rel="shortcut icon" type="image/jpg" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Alcuni grafici sull'andamento dell'epidemia riferiti a varie regioni e province Italiane.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <style type="text/css">
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id='app' v-cloak>
      <%= yield %>
    </div>
  </body>
  
  <%= render partial: 'layouts/js_init' %>
</html>
